.Weather {
  font-family: arial, sans-serif;
  border: 1px solid #dadde1;
  padding: 16px;
  border-radius: 4px;
  margin: 30px;
}

.Weather form {
  margin-bottom: 20px;
}

.Weather h1 {
  color: #202124;
  display: block;
  font-size: 24px;
  font-weight: 100;
  height: 28px;
  line-height: 29px;
  margin: 20px 0 0 0;
}

.Weather ul {
  margin: 0;
  padding: 0;
}
.Weather li {
  color: #70757a;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.Weather canvas {
  height: 55px;
  width: 55px;
  margin-right: 10px;
  display: inline-block;
}

.Weather .temperature {
  font-weight: bold;
  color: rgb(33, 33, 33);
  font-size: 65px;
  line-height: 64px;
  font-weight: 400;
}

.Weather .unit {
  color: rgb(33, 33, 33);
  font-size: 16px;
  font-weight: 400;
  position: relative;
  top: -35px;
  margin-left: 0px;
  line-height: 1;
}
